:root {
  --text-color: rgb(240, 250, 194);
  --text-color-dimmed: rgba(186, 210, 98, 0.3);
  --active-tones-background-color: rgb(163, 177, 100);
  --inner-circle-color: #00684e;
  --inner-circle-border-color: rgb(45, 92, 75);
  --euclidean-tones-play-button-color: rgb(88, 250, 169);
}

.slice {
  fill: var(--inner-circle-border-color);
  stroke: var(--inner-circle-border-color);
  stroke-width: .02;
  /* stroke-width: .001; */
  /* stroke: #bad262; */
}
.active.slice {
  fill: var(--active-tones-background-color);
  stroke: var(--active-tones-background-color);
  stroke-width: .02;
}

.inner-circle {
  fill: var(--inner-circle-color);
  stroke: var(--inner-circle-border-color);
  stroke-width: .02px;
}

text.slice-text {
  font-family: 'Germania One', cursive;
  text-anchor: middle;
  stroke-linecap: round;
  stroke-width: .011;
  stroke: var(--text-color-dimmed);
  paint-order: stroke;
}

text.active, text.slice-text.info {
  fill: var(--text-color);
  opacity: 1;
}

text.active {
  stroke: #829345;
}

text.slice-text.info {
  opacity: .8;
  fill: var(--text-color);
  letter-spacing: .002em;
  font-kerning: normal;
  stroke: var(--euclidean-tones-play-button-color);
}

svg .play-button {
  stroke-linecap: round;
  stroke: var(--inner-circle-border-color);
  stroke-width: .005;
  fill: var(--euclidean-tones-play-button-color);
}

.slice-text {
  fill: var(--text-color);
  opacity: .3;
  font-size: .15px;
  stroke: var(--inner-circle-border-color);
  stroke-linecap: round;
  stroke-width: 0.01;
  text-anchor: middle;
}

.euclidean-tones-controls {
  padding-left: calc(50vw - 12em);
  font-family: 'Germania One', cursive;
  font-size: 24px;
}
