.step {
  display: inline-block;
  min-height: 30px;
  max-height: 30px;
  min-width: 30px;
  max-width: 30px;
  border: 1px solid black;
}
div.active-cell {
  background: red;
}

.instrument-lane {
  margin: 0;
  padding: 0;
}